    <div class="col-3 position-absolute top-30 start-50 translate-middle-x">
        <form id="login-form">
    <div class="mb-3">
        <label for="form-label" class="form-label">User Name</label>
        <input type="text" class="form-control" autofocus="true" id="username-login">
    </div>
    <div class="mb-3">
        <label for="form-label" class="form-label">Password</label>
        <input type="password" class="form-control" autofocus="true" id="password-login">
    </div>
    <button type="submit" class="btn btn-primary position-absolute top-60 start-50 translate-middle-x">Log In</button>
    </form>
    </div>

<script src="/js/login.js"></script>