    <div class="col-3 position-absolute top-30 start-50 translate-middle-x">
        <form id="signup-form"> 
    <div class="mb-3">
        <label for="username-signup" class="form-label">Username</label>
        <input id="username-signup" type="text" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="password-signup">Password</label>
        <input id="password-signup" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary position-absolute top-60 start-50 translate-middle-x">Sign Up</button>
    </form>
    </div>

<script src="/js/signup.js"></script>